tarfiles/*
MBrown_XSun_Testing/*
ResultsRatios_highStats/*
ResultsRatios_lowStats/*
ResultsAsymm_highStats/*
ResultsAsymm_lowStats/*
All_Asymm_Initial_Testing/*
Asymm_Octets_45_47/*
octet_list_NEWCAL/*
Octets_15_47_veryHighStatistics/*
OldStuffForTesting/*
Presentations/*
Pure_Proc_AllAnalysis/*
RatioResultsPlotsForDisplay/*
RatioResultsTextFiles/*
RunFiles/*
ratios_octets-0-59.tar.gz
